.carShowcase{
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  padding: 1% 5%;
}
.showcaseCon{
  flex: 1;
  width: 100%;
  border: 1px solid blue;
}
.showcaseMain{
  flex: 2;
}
.showcaseCon ul{
  width: 100%;
  gap: 15px;
}
.showcaseCon ul li{
  list-style: none;
  display: block;
  margin: 0px 0px 3px 0px;
}
.showcaseCon ul li .showcaseBtn{
  width: 100%;
  border: none;
  outline: none;
  background: var(--background);
  color: var(--para-color);
  font-size: 1rem;
  font-family: var(--font-two);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  padding: 20px 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0px;
  text-align: left;
}
.showcaseBtnActive{
  width: 100%;
  border: none;
  outline: none;
  background: var(--secondary);
  color: var(--white);
  font-size: 1rem;
  font-family: var(--font-two);
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  padding: 20px 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0px;
  text-align: left;
  position: relative;
}
.showcaseBtnActive::after{
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 15.5%;
  right: -3%;
  background: var(--secondary);
  z-index: -1;
  transform: rotate(45deg);
  /*clip-path: polygon(100% 0, 0 0, 100% 100%);*/
}
.showcaseDetail{
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  overflow: hidden;
}
.showcaseDetail h2{
  font-size: 2rem;
  color: var(--white);
  font-family: var(--font-two);
  font-weight: bolder;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
  background: var(--secondary);
}
.showcaseDetail table{
  width: 100%;
  border-collapse: collapse;
  margin: 0px 0px 5px 0px;
}
.showcaseDetail table tr td{
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--para-color);
  font-family: var(--font-two);
  text-transform: capitalize;
  border: 1px solid var(--border);
}
.showcaseDetail table tr:nth-last-child(1) {
  font-weight: 600;
  width: 40%;
  background-color: var(--background);
}
.showcaseDetail button{
  width: 100%;
  border: none;
  outline: none;
  background: var(--secondary);
  color: var(--white);
  font-size: 1.6rem;
  font-family: var(--font-one);
  font-weight: 600;
  padding: 15px 0px;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
}