header{
  width: 100%;
  padding: 0px 0px;
  position: relative;
}
.home_hero{
  background: var( --light-secondary);
  display: flex;
  align-items: center;
  padding: 1% 6%;
  gap: 40px;
}
.home_heroItem{
  width: 100%;
}
.home_herodet{
  width: 100%;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home_herodet h2{
  width: max-content;
  font-size: 0.7rem;
  font-family: var(--font-one);
  font-weight: bolder;
  text-transform: capitalize;
  background-color: var(--secondary);
  padding: 5px 15px;
  border-radius: 15px;
  color: var(--white);
  letter-spacing: 1px;
}
.home_herodet h1{
  font-size: 3rem;
  color: var(--black);
  font-family: var(--font-one);
  font-weight: bolder;
  margin-bottom: 15px;
}
.home_herodet p{
  width: 90%;
  font-size: 1rem;
  color: var(--para-color);
  font-family: var(--font-two);
  line-height: 1.6;
  margin-bottom: 25px;
}
.home_heroimg{
  width: 80%;
  min-height: 90vh;
  border-radius: 10px;
  background:  linear-gradient(135deg,
  rgba(253, 105, 50, 1) 0%,
  rgba(253, 105, 50, 0.9) 35%,
  rgba(253, 105, 50, 0.7) 65%,
  rgba(253, 105, 50, 0.5) 100%
), url('../assets/cityillus.png');
background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.heroImgCon{
  position: absolute;
  width: 130%;
  height: 400px;
  left: -30%;
  top: 60%;
  transform: translateY(-50%);
}
.heroImgCon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.herobtnCon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.herobtnCon .herobtn{
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  font-family: var(--font-two);
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.herobtnCon .herobtn span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 0px 0px 0px;
}
.herobtnConOne{
  background: var(--card);
  color: var(--white);
  padding: 15px 30px;
}
.herobtnConTwo{
  border: 2px solid var(--secondary);
  color: var(--secondary);
  padding: 13px 28px;
}
.herobtnConOne:hover{
  opacity: 0.8;
}
.herobtnConTwo:hover{
  background-color: var(--secondary);
  color: var(--white);
}
.filterCardWrap{
  width: auto;
  position: absolute;
  bottom: -10%;
  left: 5%;
}

.home_trust{
  width: 100%;
  padding: 15% 6% 3% 6%;
  gap: 60px;
  min-height: 20vh;
  text-align: center;
  background-color: var(--skeleton);
}
.home_trust h3{
  font-size: 1.2rem;
  color: var(--secondary);
  font-family: var(--font-two);
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.home_trust h1{
  font-size: 2.2rem;
  color: var(--black);
  font-family: var(--font-two);
  font-weight: bolder;
  margin-bottom: 15px;
  font-weight: bolder;
  text-transform: capitalize;
}
.stepwrap{
  width: 100%;
  padding: 3% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}
.stepoverlayImgOne{
  position: absolute;
  top: 32%;
  left: 24%;
  width: 300px;
  opacity: 0.3;
  z-index: 9;
} 
.stepoverlayImgTwo{
  position: absolute;
  top: 39%;
  right: 24%;
  width: 300px;
  opacity: 0.3;
  z-index: 9;
}
.stepcon{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 1px 3px var(--border);
  padding: 20px;
  background: var( --light-secondary);
}
.stepcon h4{
  font-size: 1.2rem;
  color: var(--black);
  font-family: var(--font-two);
  font-weight: bolder;
  text-transform: capitalize;
  margin: 0px auto 10px  auto;
}
.stepcon p{
  width: 80%;
  margin: 0px auto;
  font-size: 0.8rem;
  color: var(--para-color);
  font-family: var(--font-two);
  line-height: 1.5;
}
.stepIcon{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 0px auto;
  margin: 15px auto 15px  auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepIconSame{
  border: 3px solid var(--white);
  background: var(--background);
  color: var(--secondary);
}
.stepIconDiff{
  background: var(--card);
  color: var(--white);
}




.serviceInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 8%;
  gap: 60px;
  background: var(--light-secondary);
  position: relative;
}
.serviceImgCon{
  width: 100%;
  flex: 1;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
  font-size: 2rem;
}
.serviceImgCon img{
  width: 50%;
  height: 100%;
  object-fit: contain;
  float: left;
  top: 0%;
  left: -10%;
  position: absolute;
}
.serviceInfoDet{
  width: 100%;
  flex: 1;
}
.serviceInfoDet h4{
  font-size: 1rem;
  color: var(--light-black);
  font-family: var(--font-one);
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}
.serviceInfoDet h2{
  width: 60%;
  font-size: 1.5rem;
  color: var(--black);
  text-transform: capitalize;
  font-family: var(--font-one);
  line-height: 1.5;
  position: relative;
  margin: 0px 0px 40px 0px;
}
.serviceInfoDet h2::after{
  position: absolute;
  content: '';
  background: var(--card);
  height: 3px;
  width: 15%;
  border-radius: 2px;
  left: 0;
  bottom: -10%;
}
.miniServiceInfoCon{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.miniserviceInfo{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 0px 0px 40px 0px;
}
.miniserIcon{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--white);
  background: var(--background);
  color: var(--secondary);
}
.minserDet{
  width: auto;
  text-align: left;
}
.minserDet h5{
  font-size: 1rem;
  color: var(--black);
  font-family: var(--font-one);
  text-transform: capitalize;
  font-weight: bolder;
  margin: 0px 0px 10px 0px;
}
.minserDet p{
  width: 60%;
  font-size: 0.8rem;
  color: var(--para-color);
  font-family: var(--font-two);
}

.serviceDiagramCon{
  width: 100%;
  padding: 5%;
  background: var(--white);
}
.serviceDiagram{
  text-align: center;
}
.serviceDiagram h2{
  width: 50%;
  font-size: 1.4rem;
  color: var(--black);
  text-transform: capitalize;
  font-family: var(--font-one);
  line-height: 1.5;
  margin: 0px auto 10px auto;
}
.serviceDiagram p{
  width: 50%;
  font-size: 0.8rem;
  background-clip: text;
  background: var(--para-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-one);
  font-weight: 300;
  line-height: 1.5;
  margin: 0px auto;
  text-transform: capitalize;
}

/*******************************************************/
.diagram{
  width: 100%;
}
.diagram img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
.diagramDetWrap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0px 12%;
}
.diagramDetCon{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--background);
  padding: 5px 10px;
  border-radius: 5px;
}
.diaIcon{
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--para-color);
}
.diaDet{
  display: flex;
  align-items: center;
  gap: 5px;
}
.diaDet h5{
  font-size: 0.7rem;
  text-transform: capitalize;
  font-family: var(--font-one);
  color: var(--black);
  font-weight: 500;
}
.diaDet span{
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.displayImage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.displayImage img{
  width: 80%;
  height: 100%;
}
.whyUsCon{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 5% 5%;
}
.whyUsCon .whyUsDetCon,
.whyUsCon .whyUsListWrap{
  width: 100%;
}
.whyUsCon .whyUsDetCon{
  padding: 20px 10px;
}
.whyUsCon .whyUsDetCon h3{
  font-size: 1.2rem;
  color: var(--black);
  font-family: var(--font-one);
  text-transform: capitalize;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.whyUsCon .whyUsDetCon h2{
  width: 80%;
  font-size: 2.2rem;
  color: var(--black);
  font-family: var(--font-one);
  text-transform: capitalize;
  margin: 0px 0px 20px 0px;
  font-weight: 900;
}
.whyUsCon .whyUsDetCon p{
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--font-one);
  font-weight: 400;
  color: var(--para-color);
  margin: 0px 0px 30px 0px;
}
.whyUsCon .whyUsDetCon button{
  padding: 15px 30px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--secondary);
  text-transform: capitalize;
  font-weight: bolder;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 5px;
}
.whyUsCon .whyUsDetCon button span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.whyUsCon .whyUsListWrap{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.whyUsListCon{
  width: 100%;
  display: flex;
  padding: 0px 20px;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}
.whyUsListImg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.whyUsListImg img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.whyUsListDet{
  width: auto;
  text-align: left;
}
.whyUsListDet h3{
  color: var(--black);
  font-family: var(--font-one);
  font-size: 1.2rem;
  margin: 0px 0px 10px 0px;
  text-transform: capitalize;
}
.whyUsListDet p{
  color: var(--para-color);
  font-family: var(--font-one);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}









/******************************download app section***/
.download-app {
  color: #fff;
  padding: 5%;
  overflow: hidden;
  border: 1px solid black;
}

.download-container {
  background: #ff5733;
  background: var(--card),url('../assets/track.png');
  background-position:  center;
  background-size: contain;
  background-repeat: repeat-y;
  width: 100%;
  height: 60vh;
  padding: 5%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.download-text {
  width: 100%;
}

.download-text h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: var(--font-one);
  line-height: 1.2;
}

.download-text h2 span {
  color: #3533ab;
}

.download-text p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 40px;
  font-family: var(--font-one);
}

.store_buttons{
  width: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.store_button{
  max-width: 350px;
  width: 190px;
  height: 50px;
  display: inline-block;
  margin: 0px;
  border-radius: 5px;
  overflow: hidden;
}
.store_button img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.download-image{
  position: absolute;
  content: "";
  right: 15%;
}
.download-image img{
  width: 300px;
}



/*****************************/
/*   GLOBAL RESPONSIVE FIX   */
/*****************************/
@media (max-width: 1200px) {
  .home_hero {
    padding: 5% 4% 5% 4%;
    gap: 20px;
  }

  .home_herodet h1 {
    font-size: 2.5rem;
  }

  .home_heroimg {
    min-height: 60vh;
  }

  .serviceInfo {
    padding: 5% 6%;
  }

  .download-text h2 {
    font-size: 3rem;
  }
}

/*****************************/
/*         TABLET            */
/*****************************/
@media (max-width: 1200px) {
  .home_hero {
    flex-direction: column;
    text-align: center;
  }

  .home_herodet p {
    width: 100%;
  }

  .heroImgCon {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    transform: none;
    height: auto;
  }

  .home_heroimg {
    width: 100%;
    min-height: 50vh;
  }

  /* Step section */
  .stepwrap {
    flex-direction: column;
    padding: 5% 5%;
  }

  .stepoverlayImgOne,
  .stepoverlayImgTwo {
    display: none;
  }

  /* Service info */
  .serviceInfo {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .serviceImgCon img {
    position: static;
    width: 70%;
    margin: auto;
  }

  .serviceInfoDet h2,
  .minserDet p {
    width: 100%;
  }

  /* Diagram box */
  .diagramDetWrap {
    flex-direction: column;
    padding: 0px 5%;
  }

  .whyUsCon {
    flex-direction: column;
    text-align: center;
  }

  .whyUsCon .whyUsDetCon h2 {
    width: 100%;
    font-size: 1.1rem;
  }
  .whyUsCon .whyUsDetCon p{
    font-size: 0.8rem;
  }

  /* Download */
  .download-container {
    flex-direction: column;
    height: auto;
    padding: 10% 5%;
  }

  .download-image {
    position: static;
    margin-top: 20px;
  }

  .download-image img {
    width: 250px;
  }

  .store_buttons {
    justify-content: center;
  }
  .filterCardWrap{
  width: 80%;
  position: absolute;
  bottom: -8%;
  left: 10%;
}

.serviceDiagramCon{
  width: 100%;
  padding: 5%;
  background: var(--white);
}
.serviceDiagram{
  text-align: center;
}
.serviceDiagram h2{
  width: 70%;
  font-size: 1.4rem;

}
.serviceDiagram p{
  width: 90%;
  font-size: 0.8rem;

}



}

/*****************************/
/*****************************/
@media (max-width: 600px) {
  .home_herodet h1 {
    font-size: 1.8rem;
  }

  .home_herodet p {
    font-size: 0.9rem;
  }

  .herobtnCon {
    flex-direction: column;
    gap: 10px;
  }

  .stepcon {
    padding: 15px;
  }

  .serviceInfo {
    padding: 10% 5%;
  }

  .serviceInfoDet h2 {
    font-size: 1.3rem;
  }

  .download-text h2 {
    font-size: 2rem;
  }

  .store_button {
    width: 160px;
    height: 60px;
  }

  .download-image img {
    width: 200px;
  }
}
